spring:
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server
  application:
    name: stonks-service
server:
  port: 8081
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true

